@model ConcertApplication.Models.OpenAir

<div class="row">
    <div class="col-md-12">
        <form asp-action="Add">
            <div class="form-group">
                <label asp-for="DriveWay" class="control-label"></label>
                <input asp-for="DriveWay" class="form-control" />
                <span asp-validation-for="DriveWay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Headliner" class="control-label"></label>
                <input asp-for="Headliner" class="form-control" />
                <span asp-validation-for="Headliner" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>