@model ConcertApplication.Models.Party


<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div class="form-group">
                <label asp-for="AgeQualification" class="control-label"></label>
                <input asp-for="AgeQualification" class="form-control" />
                <span asp-validation-for="AgeQualification" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>