@model ConcertApplication.Models.ConcertViewModel


<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="@Model.AgeQualification" class="control-label"></label>
            <input asp-for="@Model.AgeQualification" min="0" max="100" class="form-control" />
            <span asp-validation-for="@Model.AgeQualification" class="text-danger"></span>
        </div>
    </div>
</div>