@model ConcertApplication.Models.ConcertModel

<h2>Add Concert</h2>
<hr />
<div id="add_concert_app">
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Concerts" asp-action="Add" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Performer" class="control-label"></label>
                    <input asp-for="Performer" class="form-control" />
                    <span asp-validation-for="Performer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TicketsAmount" class="control-label"></label>
                    <input asp-for="TicketsAmount" min="0" class="form-control" />
                    <span asp-validation-for="TicketsAmount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConcertDate" class="control-label"></label>
                    <input asp-for="ConcertDate" class="form-control" />
                    <span asp-validation-for="ConcertDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Place" class="control-label"></label>
                    <input asp-for="Place" class="form-control" />
                    <span asp-validation-for="Place" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" min="0" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Type" class="control-label"></label>
                    <select id="select_type" asp-for="Type" class="form-control" v-model="selected">
                        <option disabled>Select type</option>
                        <option value="classical">Classical Concert</option>
                        <option value="open_air">Open Air</option>
                        <option value="party">Party</option>
                    </select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div>
                    <div id="classical_part" v-show="selected == 'classical'" class="form-group">
                        @Html.Partial("AddPartials/_ClassicalPartial")
                    </div>
                    <div id="open_air_part" v-show="selected == 'open_air'" class="form-group">
                        @Html.Partial("AddPartials/_OpenAirPartial")
                    </div>
                    <div id="party_part" v-show="selected == 'party'" class="form-group">
                        @Html.Partial("AddPartials/_PartyPartial")
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
