@{
    ViewData["Title"] = "Index";
}
<h2>Search & Filter</h2>


<div id="page_app">
    <div class="row">
        <div class="col-md-4">
            <div class="search-wrapper">
                <div class="form-group">
                    <label>Search</label>
                    <input class="form-control" type="text" v-model="search" placeholder="Search" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="search-wrapper">
                <div class="form-group">
                    <label>Filter</label>
                    <select class="form-control" type="text" v-model="typeFilter" placeholder="Filter">
                        <option value="">All</option>
                        <option value="ClassicalConcert">ClassicalConcert</option>
                        <option value="OpenAir">OpenAir</option>
                        <option value="Party">Party</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <paginated-list :list-data="filteredList" />
</div>

<script src="~/js/vue_search.js" asp-append-version="true"></script>
<script src="~/js/vue_pagination.js" asp-append-version="true"></script>