@{
    ViewData["Title"] = "Index";
}
<h2>Tickets</h2>


<div id="ticket_app">
    <div class="wrapper">
        <div v-if="ticketList.length == 0">
            <div class="card ticket">
                <header>No such concerts.</header>
            </div>
        </div>
        <div class="card" v-for="ticket in ticketList">
            <card_body>
                <div style="font-family:afanan; font-size:28px;">
                    Ticket
                    <i class="fa fa-ticket" style="font-size:28px"></i>
                </div>
                <ticket_id>№ {{ ticket.id }}</ticket_id>
                <small>Persons amount: {{ ticket.amount }}</small>
                <small>Concert identificator: {{ ticket.idConcert }}</small>
            </card_body>
            <div class="inline-div">
                <a class="btn form-control" v-bind:href="'Details/'+ ticket.idConcert">Concert info</a>
            </div>
        </div>
    </div>
</div>

<script src="~/js/vue_tickets.js" asp-append-version="true"></script>